:root {
  --browser-width: 100vw;
  --browser-height: 100vh;
  --primary: #177feb;
  --background: #f7f7f7;
  --foreground: #ececec;
  --black: #010427;
}

body {
  background-color: var(--background);
  color: var(--black);
  font-family: "Segoe UI", "Open Sans", -apple-system;
  margin: 0;
  padding: 0;
}

.warning {
  position: fixed;
  top: 20px;
  z-index: 10000;
  background-color: #e4094b;
  color: #fff;
  padding: 10px 30px 10px 15px;
  margin: 25px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(86, 93, 105, 0.137),
    inset 0px 5px 25px rgba(18, 21, 26, 0.137);
  justify-self: center;
}

navbar {
  background-color: var(--foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: var(--browser-width);
  padding: 0;
  justify-items: space-around;
}

button {
  height: 40px;
  width: auto;
  padding: 7px 16px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: medium, semibold;
}

button.button-blue {
  background-color: var(--primary);
  color: #fff;
}

button.button-black {
  background-color: var(--black);
  color: #fff;
}

section.hero {
  position: relative;
  top: 3px;
  background-color: var(--foreground);
}

img.navbar-logo {
  width: 73.75px;
  height: auto;
}

button {
  cursor: pointer;
}

.centered-nav-text {
  display: flex;
  justify-items: space-between;
}
.centered-nav-text span {
  padding: 0 45px;
  font-weight: bold;
}

.blue {
  color: var(--primary);
}
