:root {
  --browser-width: 100vw;
  --browser-height: 100vh;
  --primary: #177feb;
  --background: #f7f7f7;
  --foreground: #ececec;
  --black: #010427;
}

* {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Roboto, Oxygen, Ubuntu,
    Cantarell, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--black);
  margin: 0;
  padding: 0;
}

.warning {
  position: fixed;
  top: 20px;
  z-index: 10000;
  background-color: #e4094b;
  color: #fff;
  padding: 10px 30px 10px 15px;
  margin: 25px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(86, 93, 105, 0.137),
    inset 0 5px 25px rgba(18, 21, 26, 0.137);
  justify-self: center;
}

nav {
  background-color: var(--foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 87px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: calc(100% - 39px);
  transition: all 0.5s;
}

.blueNav nav {
    background-color: var(--primary);
    color: white;
}
.blueNav nav button {
    background-color: white;
    color: var(--primary);
}
nav>*{
    cursor: pointer;
}
.hero-wrapper{
    background-color: var(--foreground);
    height: 580px;
}
.hero-wrapper button{
    font-size: 1.4em;
    font-weight: normal;
    border-radius: 6px;
}
.hero-text{
    display: flex;
    width: 700px;
    height: 400px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
}
.hero-text-1{
    font-size: 121px;
    margin: 0 auto;

}
.hero-text-2{
    font-size: 99px;
    margin: 0 auto;
}
.hero-text-3{
    font-size: 28px
}
button {
  height: auto;
  width: auto;
  padding: 7px 16px;
  border-radius: 5px;
  border: none;
  font-size: /*16px*/ 1em;
  cursor: pointer;
  font-weight: bold;
}

button.button-blue {
  background-color: var(--primary);
  color: #fff;
}

button.button-black {
  background-color: var(--black);
  color: #fff;
}

main {
  position: relative;
  top: 92px;
  background-color: var(--background);
}

img.navbar-logo {
  width: 73.75px;
  height: auto;
}

.centered-nav-text {
  display: flex;
  justify-content: space-between;
}
.centered-nav-text span {
  padding: 0 45px;
  font-weight: bold;
}

.blue {
  color: var(--primary);
}


.features {
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr) 200px;
    max-width: 100vw;
    margin: 45px 0;
    text-align: center;
}

.feature-card{
    background-color: var(--foreground);
    width: 300px;
    padding: 38px 100px;
    border-radius: 25px;
}

.card-1{
    grid-column-start: 2;
}

.card-2{
    grid-column-start: 3;
}
.card-3{
    grid-column-start: 4;
}

.lesson-example{
    background-color: var(--foreground);
}